* {
  border: none;
  color: #141414;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #141414;
}
